<div class="w3-container">
  <h2>El tiempo las próximos días</h2>

  <table class="w3-table">

    <tr>
      <th>Hora</th>
      <th>Pronóstico</th>
      <th>Temperatura Mínima</th>
      <th>Temperatura Maxima</th>
      <th>Humedad</th>
    </tr>

    <tr *ngFor="let dato of weathers">
      <td>{{format(dato.time)}}</td>
      <td>{{dato.summary}}</td>
      <td>{{round(dato.temperatureLow)}}ºC</td>
      <td>{{round(dato.temperatureHigh)}}ºC</td>
      <td>{{round(dato.humidity*100)}}%</td>
    </tr>
  </table>
</div>
