<div class="w3-container" id="ahora" *ngIf="weather">
  <h2>El tiempo en este momento</h2>
  <table class="w3-table">
    <tr>
      <td><b>Hora</b></td>
      <td>{{weather.currently.time}}</td>
    </tr>
    <tr>
      <td><b>Pronóstico</b></td>
      <td>{{weather.currently.summary}}</td>
    </tr>
    <tr>
      <td><b>Temperatura</b></td>
      <td>{{round(weather.currently.temperature)}}ºC</td>
    </tr>
    <tr>
      <td><b>Humedad</b></td>
      <td>{{weather.currently.humidity*100}}%</td>
    </tr>
  </table>

  <input type="submit" value="Actualizar" (click)="getWeatherNow()">
</div>
