<head>
    <meta charset="UTF-8">
    <title>Client-side Rendering</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/style.css">
</head>