<!DOCTYPE html>
<html lang="en">
{{ include('head.html') }}
<body class="news" onload="navegation()">
<header>

    <div class="nav">
        <ul>
            <li class="home"><a id="linkNow" class="" href="#" onclick="navegation()">Ahora</a></li>
            <li class="tutorials"><a id="linkWeek" class="active" href="#" onclick="navegation()">Semana</a></li>
        </ul>
    </div>
</header>
<script src="static/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/es.js"></script>

<div class="w3-container" id="now" style="display: none">
    <h2>El tiempo en este momento</h2>

    <table class="w3-table" id="tableNow">
    </table>
    <input type="submit" value="Actualizar" onClick="nowDone=false;weatherNow();">

    <h2>El tiempo en las próximas horas</h2>

    <table class="w3-table" id="tableToday">
    </table>
</div>

<div class="w3-container" id="week">
    <h2>El tiempo en los próximos días</h2>

    <table class="w3-table" id="tableWeek">
    </table>
</div>

</body>
</html>