<!DOCTYPE html>
<html lang="en">
{{ include('head.html') }}

<body class="news">
<header>
    <div class="nav">
        <ul>
            <li class="home"><a class="active" href="{{baseURL}}/">Hoy</a></li>
            <li class="tutorials"><a href="{{baseURL}}/week">Semana</a></li>
        </ul>
    </div>
</header>

<div class="w3-container">
    <h2>El tiempo en este momento</h2>

    <table class="w3-table">
        <tr>
            <td><b>Hora</b></td>
            <td>{{hora}}</td>
        </tr>
        <tr>
            <td><b>Pronóstico</b></td>
            <td>{{pronostico}}</td>
        </tr>
        <tr>
            <td><b>Temperatura</b></td>
            <td>{{temperatura}}ºC</td>
        </tr>
        <tr>
            <td><b>Humedad</b></td>
            <td>{{humedad}}%</td>
        </tr>
    </table>
</div>

<div class="w3-container">
    <h2>El tiempo en las próximas horas</h2>

    <table class="w3-table">

        <tr>
            <th>Hora</th>
            <th>Pronóstico</th>
            <th>Temperatura</th>
            <th>Humedad</th>
        </tr>

        {% for dato in datos %}
        <tr>
            <td>{{dato['hora']}}</td>
            <td>{{dato['pronostico']}}</td>
            <td>{{dato['temperatura']}}ºC</td>
            <td>{{dato['humedad']}}%</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>