<!DOCTYPE html>
<html lang="en">
{{ include('head.html') }}
<body class="news">

<header>
    <div class="nav">
        <ul>
            <li class="home"><a href="{{baseURL}}/">Hoy</a></li>
            <li class="tutorials"><a class="active" href="{{baseURL}}/week">Semana</a></li>
        </ul>
    </div>
</header>

<div class="w3-container">
    <h2>El tiempo en los próximos días</h2>

    <table class="w3-table">

        <tr>
            <th>Día</th>
            <th>Pronóstico</th>
            <th>Temperatura Mínima</th>
            <th>Temperatura Máxima</th>
            <th>Humedad</th>
        </tr>

        {% for dato in datos %}
        <tr>
            <td>{{dato['hora']}}</td>
            <td>{{dato['pronostico']}}</td>
            <td>{{dato['temperaturaMin']}}ºC</td>
            <td>{{dato['temperaturaMax']}}ºC</td>
            <td>{{dato['humedad']}}%</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>